{% extends 'layout/base.html' %}
{% load utterances %}
{% load posts %}

{% block title %}{{ post.title }}{% endblock %}
{% block header %}
    <meta property="og:title" content="{{ post.title }} - Youngkwang Yang">
    <meta property="og:description" content="{{ post.description }}">
    <meta property=”article:published_time” content=“{{ post.published | date:'c' }}”>
    <meta property=”article:section” content=“{{ post.category }}”>
    {% if post.thumbnail %}
    <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{ post.thumbnail.url }}">
    {% endif %}
{% endblock %}
{% block content %}
    <div class="blog-post">
        <article>
            <h1 class="blog-post-title">{{ post.title }}</h1>
            {% if not post.is_page %}
                <p class="blog-post-meta row">
                    <small> {{ post.published | date }}</small>
                    <small class="text-muted"> {{ post.estimate_reading_time }} 분 소요</small>
                </p>
            {% endif %}
            <div class="blog-post-content">
                {{ post.content | markdown }}
            </div>
        </article>
        {% if post.use_comment %}
            {% utterances_comment %}
        {% endif %}
    </div>
{% endblock %}
