{% extends 'layout/base.html' %}
{% load utterances %}
{% load post_markdown %}

{% block title %}{{ object.title }}{% endblock %}
{% block header %}
    <meta property="og:title" content="{{ object.title }} - Youngkwang Yang">
    <meta property="og:description" content="{{ object.description }}">
    <meta property=”article:published_time” content=“{{ object.published | date:'c' }}”>
    <meta property=”article:section” content=“{{ object.category }}”>
    {% if object.thumbnail %}
    <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{ object.thumbnail.url }}">
    {% endif %}
{% endblock %}
{% block content %}
    <div class="blog-post">
        <article>
            <h1 class="blog-post-title">{{ object.title }}</h1>
            {% if not object.is_page %}
                <p class="blog-post-meta row">
                    <small> {{ object.published | date }}</small>
                    <small class="text-muted"> {{ post.estimate_reading_time }} 분 소요</small>
                </p>
            {% endif %}
            <div class="blog-post-content">
                {{ object.content | markdown }}
            </div>
        </article>
        {% utterances_comment %}
    </div>
{% endblock %}
