{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/dist/bootstrap/css/bootstrap.min-5.1.3.css' %}">
    <link rel="stylesheet" href="{% static '/css/blog.css' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:type" content="website">
    {% block header %}
    {% endblock %}
    <title>{% block title %}{% endblock %} - Youngkwang Yang</title>
</head>
<body>
<main class="container">
    <div class="row g-5">
        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
                {% include 'layout/sidebar.html' %}
            </div>
        </div>
        <div class="col-md-8">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</main>
<script src="{% static '/dist/bootstrap/js/bootstrap.bundle.min-5.1.3.js' %}"></script>
{% if analytics_gtag_id %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ analytics_gtag_id }}"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ analytics_gtag_id }}');
</script>
{% endif %}
</body>
</html>
